<div *ngIf="idTecnology === 1" class="text-center">
    <img src="../../../../assets/images/logoAngular.png"  width="30" height="30" alt="Angular"/>
</div>
<div *ngIf="idTecnology  === 2" class="text-center">
    <img src="../../../../assets/images/logoReact.png" width="30" height="30" alt="React"/>
</div>
<div *ngIf="idTecnology  === 3" class="text-center">
    <img src="../../../../assets/images/logoPowerAppsjpg.jpg" width="30" height="30" alt="Power Apps"/>
</div>
<div *ngIf="idTecnology  === 4" class="text-center">
    <img src="../../../../assets/images/logoAppian.png" width="30" height="30" alt="Appian"/>
</div>

