<div class="row gy-4 gy-md-5 gy-lg-0">
    <h4 class="border-bottom border-info col-md-2 p-2">Soporte</h4>
      <div class="col-12 col-lg-12 p-3">
        <h6>Formulario de solicitud de soporte</h6>
        <p>Ingrese los datos relacionaos a la aplicacion la cual necesita soporte.</p>
        <div class="bg-accent shadow rounded overflow-hidden" style="background-color: #f0fbff; border: none;">
            <form [formGroup]="supportForm" (ngSubmit)="onSubmit()">
            <div class="row gy-4 gy-xl-5 p-4 p-xl-5">
                <div class="col-md-3">
                    <label class="h6">Seleccione el proyecto*:</label>
                </div>
                <div class="col-md-5">
                    <select 
                    type="text" 
                    class="form-select" 
                    required 
                    formControlName="proyect"
                    >
                    <option *ngFor="let ap of app" [value]="ap.id">
                        {{ap.name}}
                      </option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label class="h6">Tecnologia:</label>
                </div>
                <div class="col-md-2">
                    <app-image-technology [idTecnology]="idTecno"></app-image-technology>
                </div>

                <div class="col-md-3">
                    <label class="h6">Seleccione el modulo*:</label>
                </div>
                <div class="col-md-9">
                    <select 
                    type="text" 
                    class="form-select" 
                    required 
                    formControlName="module"
                    >
                    <option *ngFor="let module of modules" [value]="module.id">
                        {{module.description}}
                    </option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label class="h6">Seleccione la HU (Historia de usuario)*:</label>
                </div>
                <div class="col-md-9">
                    <select 
                    type="text" 
                    class="form-select" 
                    required 
                    formControlName="hu"
                    >
                    <option *ngFor="let hu of hus" [value]="hu.id">
                        {{hu.description}}
                    </option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label class="h6">Ingrese el detalle del soporte*:</label>
                </div>
                <div class="col-md-9">
                    <textarea 
                    class="form-control" 
                    type="text" 
                    required 
                    formControlName="detail"
                    ></textarea>
                    
                </div>
                
                <div style="text-align: right;">
                    <button class="btn btn-info btn-sm btn-block text-light" type="submit" style="width: 75%; ">Enviar solicitud</button>
                </div>
                    
                
            </div>
          </form>
          <div *ngIf="message" class="alert alert-success" role="alert">
            Solicitud de soporte enviada correctamente
          </div>

        </div>
      </div>
    </div>


