<div class="row gy-4 gy-md-5 gy-lg-0">
    <ng-template #divLoading>
        <p>cargando</p>
    </ng-template>
    <div  *ngIf="app; else divLoading"> 
        <div class="row">
            <h4 class="border-bottom border-info col-md-7 p-2">Aplicaciones / {{app.name}}</h4>
            <div class="col-md-5">
               <app-status [stage]="app.stage"></app-status>
            </div>
        </div>
        
        <div class="col-12 col-lg-12">
            <div class="bg-accent shadow rounded overflow-hidden">
                    <div class="d-flex flex-row">
                        <div class="p-2 d-flex flex-row col-md-4">
                            <app-image-technology [idTecnology]="1" class="ml-2"></app-image-technology>
                            &nbsp; {{app.name}}
                        </div>
                        <div class="p-2 ">
                            <p>
                                <strong>Cliente:</strong>&nbsp;{{app.customer[0].name}}
                            </p>
                        </div>
                        <div class="p-2 ">
                            <p>
                                <strong>Fecha inicio:</strong>&nbsp; {{app.startDate}}
                            </p>
                        </div>
                        <div class="p-2 ">
                            <p>
                                <strong>Fecha fin: </strong>&nbsp; {{app.end}}
                            </p>
                        </div>
                </div>

                
            <form [formGroup]="huForm" (ngSubmit)="onSubmit()">
                <div class="row gy-4 gy-xl-5  p-xl-5 ">
                    <div class="col-md-2">
                        <label class="h6">Historia de usuario:</label>
                    </div>
                    <div class="col-md-10">
                        <textarea 
                        type="text" 
                        class="form-control"  
                        required 
                        formControlName="hu"
                        >
                        </textarea>
                    </div>
                    <div class="col-md-2">
                        <label class="h6">Modulo*:</label>
                    </div>
                    <div class="col-md-4">
                        <select 
                        type="date" 
                        class="form-control"  
                        required 
                        formControlName="modulo"
                        >
                        <option *ngFor="let module of modules" [value]="module.id">
                            {{module.description}}
                        </option>
                        </select>
                    </div>
                
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        <button class="btn btn-info text-light w-100" type="submit">Guardar</button>
                    </div>
                </div>
            </form>
            </div>
            <div *ngIf="message" class="alert alert-success" role="alert">
                Historia de usuario agregada 
            </div>


            <app-hu-module [hus]="app.hu"></app-hu-module>
        
        </div>
    </div>
</div>


