
<div class="row gy-4 gy-md-5 gy-lg-0">
    <h4 class="border-bottom border-info col-md-6 p-2">Mis aplicaciones</h4>
      <div class="col-md-12 col-lg-12 mt-5">
        <div class="row p-2 mb-2">
            <div class="col-md-1">
                <svg fill="#000000" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1">
                    <path d="M21.07,16.83,19,14.71a3.08,3.08,0,0,0-3.4-.57l-.9-.9a7,7,0,1,0-1.41,1.41l.89.89A3,3,0,0,0,14.71,19l2.12,2.12a3,3,0,0,0,4.24,0A3,3,0,0,0,21.07,16.83Zm-8.48-4.24a5,5,0,1,1,0-7.08A5,5,0,0,1,12.59,12.59Zm7.07,7.07a1,1,0,0,1-1.42,0l-2.12-2.12a1,1,0,0,1,0-1.42,1,1,0,0,1,1.42,0l2.12,2.12A1,1,0,0,1,19.66,19.66Z"/>
                </svg>
            </div>
            <div class="col-md-3">
                <input type="text" 
                class="form-control" 
                [(ngModel)]="proyect"
                placeholder="Buscar proyecto"
                >
            </div>
            <div class="col-md-3">
                <input type="date" 
                class="form-control" 
                [(ngModel)]="date"
                placeholder="Buscar proyecto"
                >
            </div>
       
        </div>
            
        <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Nombre del proyecto </th>
                <th scope="col">Módulo</th>
                <th scope="col">HU</th>
                <th scope="col">Fecha de registro</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let support of supports | tableFilterKeyword: proyect | tableFilterDate: date">
                <td>{{ support.proyectName }}</td>
                <td>{{ support.module[0].description }}</td>
                <td>{{ support.hu[0].id}}</td>
                <td>{{ support.date | date:'yyyy-MM-dd' }}</td>
                <td><app-status [stage]="support.stageRequest"></app-status></td>
                <td>
                    <button class="btn" (click)="viewDetail(support.id)">
                        <svg fill="#000000" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1">
                            <path d="M21.07,16.83,19,14.71a3.08,3.08,0,0,0-3.4-.57l-.9-.9a7,7,0,1,0-1.41,1.41l.89.89A3,3,0,0,0,14.71,19l2.12,2.12a3,3,0,0,0,4.24,0A3,3,0,0,0,21.07,16.83Zm-8.48-4.24a5,5,0,1,1,0-7.08A5,5,0,0,1,12.59,12.59Zm7.07,7.07a1,1,0,0,1-1.42,0l-2.12-2.12a1,1,0,0,1,0-1.42,1,1,0,0,1,1.42,0l2.12,2.12A1,1,0,0,1,19.66,19.66Z"/></svg>
                    </button>
                </td>
              </tr>
             
            </tbody>
          </table>
      </div>
      <div class="card m-2" *ngIf="support" style="background-color: #f0fbff; border: none;">
        <div class="row p-2">
            <div class="d-flex flex-row">
                <div class="p-2 col-md-6 mt-5">
                    <p>
                        <strong>Nombre del proyecto:</strong>&nbsp; {{support.proyectName}}
                    </p>
                </div>
                <div class="p-2 col-md-3 mt-5">
                    <p>
                        <strong>Modulo:</strong>&nbsp; {{support.module[0].description}}
                    </p>
                </div>
                <div class="p-2 col-md-3"  >
                    <p><strong>Fecha </strong>&nbsp; {{support.date | date: 'dd-MM-yyyy hh:mm:ss'}}</p>
                    <app-status [stage]="support.stageRequest"></app-status>
                    
                </div>
            </div>
        </div>
        <div>
            <form [formGroup]="supportForm" (ngSubmit)="onSubmit()" >
                <div class="row gy-4 gy-xl-5 p-4 p-xl-5">
                    <div class="col-md-3">
                        <label class="h6">Detalle de la HU:</label>
                    </div>
                    <div class="col-md-9">
                        <textarea 
                        class="form-control" 
                        type="text" 
                        required 
                        formControlName="detailHu"
                        readonly="true"
                        ></textarea>
                    </div>
    
                    <div class="col-md-3">
                        <label class="h6">Detalle de la solicitud:</label>
                    </div>
                    <div class="col-md-9">
                        <textarea 
                        class="form-control" 
                        type="text" 
                        required 
                        formControlName="request"
                        readonly="true"
                        ></textarea>
                    </div>
    
                    <div class="col-md-3">
                        <label class="h6">Cambiar estado*:</label>
                    </div>
                    <div class="col-md-4">
                        <select 
                        type="text" 
                        class="form-select" 
                        required 
                        formControlName="status"
                        >
                        <option *ngFor="let state of stateRequests" [value]="state.id" >
                            {{state.description}}
                        </option>
                        </select>
                    </div>
                    
                    <div class="col-md-5" style="text-align: right;">
                        <div class="row">
                          <div class="col">
                            <button class="btn btn-info btn-block text-light">   Guardar   </button>
                          </div>
                        </div>
                      </div>
                    
                </div>
            </form>
            <div *ngIf="message" class="alert alert-success" role="alert">
            Solicitud de soporte enviada correctamente
            </div>
        </div>
        

      </div>
    </div>




