<div id="content-wrapper" class="d-flex flex-column bsb-navbar bsb-tpl-navbar-sticky ">
    <div id="content">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow border-bottom border-info">
            <div class="col-xl-2 col-md-2">
                <div class="card border border-info shadow  bg-info">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mr-2">
                              <a href="auth/" class="list-group-item">
                                <div class="row">
                                  <div class="col-auto">
                                      <div class="h5 mb-0 mr-3 font-weight-bold text-right">
                                          Paola <br>Cotrina</div>
                                  </div>
                              </div>
                              </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-md-6 p-3">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Desarrollo a la medida</div>
            </div>
            <div class="col-xl-2 col-md-4 p-3">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                    <p class="nav justify-contend">
                        John Doe
                       
                    </p>
                </div>
            </div>
        </nav>
    </div>
</div>
