<div id="content-wrapper" class="d-flex flex-column bsb-navbar bsb-tpl-navbar-sticky ">
    <div id="content">
        <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow border-bottom border-info" style="background-color: #f2f2f2;">
            <div class="col-xl-2 col-md-2">
                <div class="card border shadow" style="background-color: #d6f4fe; border-color: #d6f4fe;">
                    <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <a href="auth/" class="list-group-item">
                                <div class="row">
                                    <div class="col " style="text-align: right;">
                                        <div class="h5 mb-0 font-weight-bold">Paola <br> Cotrina</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-md-6 p-3">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Desarrollo a la medida</div>
            </div>
            <div class="col-xl-2 col-md-4 p-3">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                    <p class="nav justify-contend">
                        John Doe
                       
                    </p>
                </div>
            </div>
        </nav>
    </div>
</div>
