<div class="row gy-4 gy-md-5 gy-lg-0">
    <h4 class="border-bottom border-info col-md-6 p-2">Solicitudes / Registrar datos básicos</h4>
      <div class="col-12 col-lg-12 p-1">
        <div class="bg-accent shadow rounded overflow-hidden">
          <form [formGroup]="appForm" (ngSubmit)="onSubmit()">
            <div class="row gy-4 gy-xl-5  p-xl-5 border border-info">
                <div class="col-md-2">
                    <label class="h6">Nombre del proyecto*:</label>
                </div>
                <div class="col-md-4">
                    <input 
                    type="text" 
                    class="form-control" 
                    required 
                    formControlName="name"
                    >
                </div>
               
                <div class="col-md-2">
                    <label class="h6">Cliente*:</label>
                </div>
                <div class="col-md-4">
                    <input 
                    type="text" 
                    class="form-control" 
                    required 
                    formControlName="nameCustomer"
                    >
                </div>
                <div class="col-md-2">
                    <label class="h6">Teléfono contacto*:</label>
                </div>
                <div class="col-md-4">
                    <input 
                    type="text" 
                    class="form-control" 
                    required 
                    formControlName="phoneCustomer"
                    />
                </div>
                <div class="col-md-2">
                    <label class="h6">Correo electronico*:</label>
                </div>
                <div class="col-md-4">
                    <input 
                    type="text" 
                    class="form-control" 
                    required 
                    formControlName="emailCustomer"
                    />
                </div>
                
                
                    <div class="col-md-2">
                        <label class="h6">Estado*:</label>
                    </div>
                    <div class="col-md-4">
                        <select 
                        type="date" 
                        class="form-select" 
                        required 
                        formControlName="stage"
                        [(ngModel)]="opcionSeleccionada"
                        >
                        <option *ngFor="let stage of stages" [value]="stage.id">
                            {{stage.description}}
                        </option>
                        </select>
                    </div>
                   
                    <div class="row ml-2 p-2" *ngIf="opcionSeleccionada == '3'">
                    <div class="col-md-2 p-2">
                        <label class="h6">Tecnologia*:</label>
                    </div>
                    <div class="col-md-4 p-2">
                        <select 
                        type="date" 
                        class="form-select" 
                        required 
                        formControlName="tecnology"
                        >
                        <option *ngFor="let tec of tecnology" [value]="tec.id">
                            {{tec.description}}
                        </option>
                        </select>
                    </div>
                    <div class="col-md-2 p-2">
                        <label class="h6">Fecha inicio*:</label>
                    </div>
                    <div class="col-md-4 p-2">
                        <input 
                        type="date" 
                        class="form-control" 
                        required 
                        formControlName="startDate"
                        />
                    </div>
                    <div class="col-md-2 p-2">
                        <label class="h6">Fecha fin*:</label>
                    </div>
                    <div class="col-md-4 p-2">
                        <input 
                        type="date" 
                        class="form-control" 
                        required 
                        formControlName="end"
                        />
                    </div>
                </div>
                
                
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <button class="btn btn-info text-light w-100" type="submit">Guardar</button>
                </div>
            </div>
          </form>
          <div *ngIf="message" class="alert alert-success" role="alert">
            Proyecto creado
          </div>
          <div class="bg-accent shadow rounded overflow-hidden mt-2 row ">
            <div class="col-md-6 p-5">
                <div *ngIf="messageModule" class="alert alert-success" role="alert">
                    Modulo eliminado
                  </div>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Nombre del modulo</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let module of modules">
                            <td>{{ module.description }}</td>
                            <td class="text-center">
                                <button class="btn btn-light btn-sm" (click)="deleteModule(module.id)">
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2h4a1 1 0 1 1 0 2h-1.069l-.867 12.142A2 2 0 0 1 17.069 22H6.93a2 2 0 0 1-1.995-1.858L4.07 8H3a1 1 0 0 1 0-2h4V4zm2 2h6V4H9v2zM6.074 8l.857 12H17.07l.857-12H6.074zM10 10a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1z" fill="#0D0D0D"/></svg>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card col-md-5 p-5 mt-2 rounded border border-info">
                <form [formGroup]="appModule" (ngSubmit)="onSubmitModule()">
                    <h6>Crear módulo</h6>
                    <div class="col-md-12">
                        <label class="h6">Nombre del módulo*:</label>
                    </div>
                    <div class="col-md-12">
                        <input 
                        type="text" 
                        class="form-control" 
                        required 
                        formControlName="nameModule"
                        >
                    </div>
                    <div class="col-md-12 d-flex justify-content-center align-items-center m-2">
                        <button class="btn btn-info text-light w-100" type="submit">Crear</button>
                    </div>
                </form>

            </div>

        </div>  
        </div>
        
       
      </div>
    </div>


