<div class="row gy-4 gy-md-5 gy-lg-0">
    <h4 class="border-bottom border-info col-md-2 p-2">Solicitudes</h4>
      <div class="col-12 col-lg-12 p-3">
        <h6>Formulario de solicitud de desarrollo a la medida</h6>
        <p>Ingrese los datos básicos del proyecto y uno de nuestros expertos se contactará con usted.</p>
        <div class="bg-accent shadow rounded overflow-hidden"  style="background-color: #f0fbff">
          <form [formGroup]="requestform" (ngSubmit)="onSubmit()">
            <div class="row gy-4 gy-xl-5  p-xl-5">
                <div class="col-md-3 text-right">
                    <strong>Nombre completo o razon social</strong>
                </div>
                <div class="col-md-9">
                    <input 
                    type="text" 
                    class="form-control" 
                    required 
                    formControlName="nameCustomer"
                    readonly
                    >
                </div>
                <div class="col-md-3 text-left">
                    <strong>Correo electrónico</strong>
                </div>
                <div class="col-md-9">
                    <input 
                    type="text" 
                    class="form-control" 
                    required 
                    formControlName="emailCustomer"
                    readonly
                    >
                </div>
                <div class="col-3">
                    <label class="h6">Nombre del proyecto *:</label>
                </div>
                <div class="col-9">
                    <input 
                    type="text" 
                    class="form-control" 
                    required 
                    formControlName="nameProyect"
                    >
                </div>
                <div class="col-md-3">
                    <label class="h6">Telefono de contacto*:</label>
                </div>
                <div class="col-md-6">
                    <input 
                    type="text" 
                    class="form-control" 
                    required 
                    formControlName="phone"
                    >
                </div>
                
                <div style="text-align: right;">
                    <button class="btn btn-info btn-sm btn-block text-light" type="submit" style="width: 75%; ">Enviar solicitud</button>
                </div>
            </div>
          </form>
          <div *ngIf="message" class="alert alert-success" role="alert">
            Solicitud enviada 
          </div>
        </div>
      </div>
    </div>

