<div class="row gy-4 gy-md-5 gy-lg-0">
    <h4 class="border-bottom border-info col-md-2 p-2">Solicitudes</h4>
      <div class="col-12 col-lg-12 p-5">
        <h6>Formulario de solicitud de desarrollo a la medida</h6>
        <p>Ingrese los datos básicos del proyecto y uno de nuestros expertos se contactará con usted.</p>
        <div class="bg-accent shadow rounded overflow-hidden">
          <form [formGroup]="requestform" (ngSubmit)="onSubmit()">
            <div class="row gy-4 gy-xl-5 p-4 p-xl-5">
                <div class="col-md-3 text-right">
                    <strong>Nombre completo o razon social</strong>
                </div>
                <div class="col-md-9">
                    <input 
                    type="text" 
                    class="form-control" 
                    required 
                    formControlName="nameCustomer"
                    >
                </div>
                <div class="col-md-3 text-left">
                    <strong>Correo electrónico</strong>
                </div>
                <div class="col-md-9">
                    <input 
                    type="text" 
                    class="form-control" 
                    required 
                    formControlName="emailCustomer"
                    >
                </div>
                <div class="col-3">
                    <label class="h6">Nombre del proyecto *:</label>
                </div>
                <div class="col-9">
                    <input 
                    type="text" 
                    class="form-control" 
                    required 
                    formControlName="nameProyect"
                    >
                </div>
                <div class="col-md-3">
                    <label class="h6">Telefono de contacto*:</label>
                </div>
                <div class="col-md-6">
                    <input 
                    type="text" 
                    class="form-control" 
                    required 
                    formControlName="phone"
                    >
                </div>
                
                <div class="col-md-12 d-flex justify-content-center align-items-center">
                    <div class="d-grid p-3">
                        <button class="btn btn-info text-light " type="submit">Enviar solicitud</button>
                    </div>
                </div>
            </div>
          </form>
          <div *ngIf="message" class="alert alert-success" role="alert">
            Solicitud enviada 
          </div>
        </div>
      </div>
    </div>

