<div class="row gy-4 gy-md-5 gy-lg-0 p-5 mt-5" 
    style="
    background-image: url('../../../../assets/images/Registro.jpg');
    height: 100vh;
  ">
      <div class="col-12 col-lg-6">
        <div class="bg-accent shadow rounded overflow-hidden bg-black text-light">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="row gy-4 gy-xl-5 p-4 p-xl-5">
                <h1 class="p-3">Inicio de sesión</h1>
              <div class="col-12">
                <label class="h5">Correo electrónico</label>
                <input 
                type="text" 
                class="form-control" 
                formControlName="email"
                required >
              </div>
              <div class="col-12">
                <label class="h5">Contraseña</label>
                    <input 
                    type="password" 
                    class="form-control" 
                    formControlName="password"
                    required 
                    >
              </div>
              
              <div class="col-12">
                <div class="d-grid">
                  <button class="btn btn-primary btn-lg" type="submit">Ingresar</button>
                </div>
              </div>
            </div>
          </form>
          <div *ngIf="message" class="alert alert-success" role="alert">
            Usuario no encontrado
          </div>
        </div>
      </div>
    </div>
