
<button class="btn btn-light btn-sm" (click)="openPopup()"> 
  <svg fill="#000000" width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M21,12a1,1,0,0,0-1,1v6a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V5A1,1,0,0,1,5,4h6a1,1,0,0,0,0-2H5A3,3,0,0,0,2,5V19a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V13A1,1,0,0,0,21,12ZM6,12.76V17a1,1,0,0,0,1,1h4.24a1,1,0,0,0,.71-.29l6.92-6.93h0L21.71,8a1,1,0,0,0,0-1.42L17.47,2.29a1,1,0,0,0-1.42,0L13.23,5.12h0L6.29,12.05A1,1,0,0,0,6,12.76ZM16.76,4.41l2.83,2.83L18.17,8.66,15.34,5.83ZM8,13.17l5.93-5.93,2.83,2.83L10.83,16H8Z"/></svg>
 </button> 
<div
  class="modal w-60"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}"> 
  <div class="modal-dialog modal-lg" role="document" > 
    <div class="modal-content p-2" style="background-color: #f0fbff;"> 
      <form [formGroup]="huEditForm" (ngSubmit)="onSubmit()">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closePopup()"></button>
      </div>
      <div class="modal-body row">
        <div class="row p-2">
          <div class="col-md-3 p-2">
            <p class="h6">Historia de usuario</p>
          </div>
          <div class="col-md-9 p-2">
            <textarea 
              class="form-control" 
              required 
              formControlName="hu"
              
            >
            </textarea>
          </div>
          <div class="col-md-3 p-2">
            <p class="h6">Módulo *</p>
          </div>
          <div class="col-md-3 p-2">
            <select 
              class="form-select" 
              required 
              formControlName="module"
            >
              <option *ngFor="let mod of module" [value]="mod.id">
                {{mod.description}}
            </option>
            </select>
          </div>
          <div class="col-md-2 p-2 nav justify-content-center justify-content-md-end">
            <p class="h6">Estado</p>
          </div>
          <div class="col-md-4 p-2">
            <select 
              class="form-select" 
              required 
              formControlName="state"
            >
              <option *ngFor="let state of stage" [value]="state.id">
                {{state.description}}
            </option>
            </select>
          </div>
        </div>
      </div> 
      <div class="modal-footer"> 
        <button type="submit" class="btn text-light" style="background-color: #2cc4f5;">
           
          Actualizar 
        </button> 
      </div> 
    </form>
    </div> 
  </div> 
</div>
