<div class="card border-0">
    <div class="card-body ">
      <h2>Tecnologias</h2>
      <blockquote class="bsb-blockquote-icon mb-3">
      Obten un desarrllo personalizado para tu empresa, sea pequeña, mediana o grande,
      con las tecnologías más avanzadas del mercado. 
      ¡Haz crecer tu negocio con soluciones a la medida!. <br>

       Te presentamos las tecnologias que conforman nuestro portafolio
      </blockquote>
      
    </div>
    <div class="col-12 col-lg-12">
        <div class="card border-0">
          <div class="card-body p-4 p-xxl-5">
            <div class="row align-items-center">
              <div class="col-12 col-md-3 p-2">
               <img src="./../../../../assets/images/react.png" width="160" height="100">
              </div>
              <div class="col-12 col-md-9 rounded p-2"  style="background-color: #d6f4fe">
                <p>Para aplicaciones web dinámicas y altamente interactivas que cautiven a tus usuarios y se destaquen en el mercado </p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-12 col-lg-12">
        <div class="card border-0">
          <div class="card-body p-4 p-xxl-5">
            <div class="row align-items-center">
              <div class="col-12 col-md-3 p-2">
               <img src="./../../../../assets/images/angular.png" width="150" height="90">
              </div>
              <div class="col-12 col-md-9 rounded p-2"  style="background-color: #d6f4fe">
                <p>Para aplicaciones web complejas y de alto rendimiento con facilidad, 
                    garantizando una experiencia de usuario excepcional en todos los dispositvos.
                   </p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-12 col-lg-12">
      <div class="card border-0">
        <div class="card-body p-4 p-xxl-5">
          <div class="row align-items-center">
            <div class="col-12 col-md-3 p-2">
             <img src="./../../../../assets/images/powerapps.jpg" width="150" height="90">
            </div>
            <div class="col-12 col-md-9 rounded p-2"  style="background-color: #d6f4fe">
              <p>Para crear rapidamente aplicaciones personalizadas que se integren perfectamente con tus sistemas existentes, aumentando la productividad
                y la eficiencia en toda la organización.
                 </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-12">
      <div class="card border-0">
        <div class="card-body p-4 p-xxl-5">
          <div class="row align-items-center">
            <div class="col-12 col-md-3 p-2 text-center">
             <img src="./../../../../assets/images/appian.png" width="80" height="60">
            </div>
              <div class="col-12 col-md-9 rounded p-2"  style="background-color: #d6f4fe">
              <p>Para diseñar, ejecutar y optimizar procesos empresariales complejos de manera rápida y sencilla
                 </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p>Con estas tecnologias a tu disposicion, tu empresa estará lista para 
      enfrentar los desafios del mundo digital y alcanzar nuevos niveles de
      exito!
    </p>
  </div>
