
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-light" >
        <ul class="nav nav-pills flex-column mb-auto">
        <li class="border-bottom border-info">
            <a routerLink="/main/tecnologia" class="nav-link text-secondary">
            Tecnologías
            </a>
        </li>
        <li class="border-bottom border-info">
            <a routerLink="/main/listApp" class="nav-link text-secondary">
            Mis aplicaciones
            </a>
        </li>
        <li class="border-bottom border-info">
            <a routerLink="/main/solicitudes" class="nav-link text-secondary">
            Solicitudes
            </a>
        </li>
        <li class="border-bottom border-info">
            <a routerLink="/main/soporte" class="nav-link text-secondary">
            Soporte
            </a>
        </li>
        </ul>
        <div class="mt-3">
            <ul class="nav nav-pills flex-column mb-auto">
               
                <li class="border-bottom border-info">
                    <a routerLink="#" class="nav-link text-secondary">
                    Contacto
                    </a>
                </li>
            </ul>
        </div>
    </div>
